<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cypra - $title$</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,600%7CFira+Sans:300,400,400i,600">

        <!-- Material icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- CSS (including Bootstrap) -->
        <link rel="stylesheet" href="/css/theme.css">
        <link rel="stylesheet" href="/css/default.css">

        <!-- JS (including Bootstrap & plugins) -->
        <script src="/js/theme.js" defer></script>
    </head>
    <header class="site-header fixed-top bg-black border-bottom border-dark">
        <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
        <div class="container">

            <!-- Navbar -->
            <nav class="navbar main-nav navbar-expand-lg navbar-dark" aria-label="Main navigation">
                <a href="/" class="navbar-brand d-inline-flex"><img aria-hidden="true" src="/images/logotitlewhtie.png"></img></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            $if(homepage)$
                              <a href="/" class="nav-link active">Home</a>
                            $else$
                              <a href="/" class="nav-link">Home</a>
                            $endif$
                        </li>
                        <li class="nav-item">
                          $if(downpage)$
                            <a href="/" class="nav-link active">Downloads</a>
                          $else$
                            <a href="/" class="nav-link">Downloads</a>
                          $endif$
                        </li>
                        <li class="nav-item">
                          $if(docspage)$
                            <a href="/docs.html" class="nav-link active">Docs</a>
                          $else$
                            <a href="/docs.html" class="nav-link">Docs</a>
                          $endif$
                        </li>
                        <li class="nav-item">
                          <a href="/" class="nav-link">Github</a>
                        </li>
                        <li class="nav-item">
                          $if(faqpage)$
                            <a href="/" class="nav-link active">FAQ</a>
                          $else$
                            <a href="/" class="nav-link">FAQ</a>
                          $endif$
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <body>
        <main role="main" class="bg-white text-dark">
          $body$
        </main>

        <footer class="bg-black text-light">
            <div class="container container py-1 py-md-3">
                <div class="row justify-content-md-between">
                  <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
                      <h2 class="h6 mb-3">Company</h2>
                      <p class="text-muted">Focus is a responsive website theme based on Bootstrap 4. We help you to create a site that your users will love.</p>
                  </div>
                    <div class="col-4 col-md-2">
                        <h2 class="h6 mb-3">Social</h2>
                        <ul class="nav flex-column">
                            <li class="mb-1"><a href="#" class="text-muted">Twitter</a></li>
                            <li class="mb-1"><a href="#" class="text-muted">Instagram</a></li>
                            <li class="mb-1"><a href="#" class="text-muted">Dribbble</a></li>
                            <li class="mb-1"><a href="#" class="text-muted">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
