.ghc.environment*
dist-newstyle
dist
result
android-result
android-release
android-release-apk
.stack-work
cabal.project.freeze
stack.yaml.lock
checkpoint-generator/btcHeadersTree
ergvein.hp
ergvein.aux
ergvein.ps
*.prof
TAGS
index-server/ergveinDb/*
index-server/indexerDb/*
