<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ergvein</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,600%7CFira+Sans:300,400,400i,600">

        <!-- Material icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- CSS (including Bootstrap) -->
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/milligram.min.css">
        <link rel="stylesheet" href="/css/tooltip.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/extra.css">

        <!-- JS (including Bootstrap & plugins) -->
        <script src="/js/theme.js" defer></script>
    </head>
    <body>
      <div class="content">
        <div class="wrapper">
          <div class="header">
            <div class="header-button header-back"><i class="fas fa-arrow-left fa-fw"></i></div>
            <div class="header-wallet-text">Balance: 0.00108348 BTC</div>
            <div class="header-button header-sliding-menu-open"><i class="fas fa-bars fa-fw"></i></div>
          </div>
          $body$
        </div>
        <div class="sliding-menu hidden">
          <div class="sliding-menu-header">
            <div class="sliding-menu-header"></div>
            <div class="sliding-menu-header-text">Menu</div>
            <div class="sliding-menu-close"><i class="fas fa-times fa-fw"></i></div>
          </div>
          <div class="sliding-menu-buttons">
            <div class="sliding-menu-button"><i class="fas fa-network-wired"></i>Network</div>
            <div class="sliding-menu-button"><i class="fas fa-cog"></i>Settings</div>
            <div class="sliding-menu-button"><i class="fas fa-info-circle"></i>About</div>
            <div class="sliding-menu-button"><i class="far fa-file-alt"></i>Logs</div>
            <div class="sliding-menu-button"><i class="fas fa-sign-out-alt"></i>Switch Wallet</div>
          </div>
        </div>
        <div class="dark-overlay hidden"></div>
      </div>
      <script>
        document.querySelector('.header-sliding-menu-open').addEventListener('click', function() {
          document.querySelector('.sliding-menu').classList.toggle('hidden');
        });
        document.querySelector('.header-sliding-menu-open').addEventListener('click', function() {
          document.querySelector('.dark-overlay').classList.toggle('hidden');
        });

        document.querySelector('.sliding-menu-close').addEventListener('click', function() {
          document.querySelector('.sliding-menu').classList.toggle('hidden');
        });
        document.querySelector('.sliding-menu-close').addEventListener('click', function() {
          document.querySelector('.dark-overlay').classList.toggle('hidden');
        });

        document.querySelector('.dark-overlay').addEventListener('click', function() {
          document.querySelector('.dark-overlay').classList.toggle('hidden');
        });
        document.querySelector('.dark-overlay').addEventListener('click', function() {
          document.querySelector('.sliding-menu').classList.toggle('hidden');
        });
      </script>
    </body>
</html>
