<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cypra - $title$</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,600%7CFira+Sans:300,400,400i,600">

        <!-- Material icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- CSS (including Bootstrap) -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/milligram.min.css">
        <link rel="stylesheet" href="/css/tooltip.css">
        <link rel="stylesheet" href="/css/extra.css">

        <!-- JS (including Bootstrap & plugins) -->
        <script src="/js/theme.js" defer></script>
    </head>
    <body>
      <div class="wrapper">
        <div class="header-wrapper">
          <div class="header">
            <div class="header-button header-back-button hidden"><i class="fas fa-arrow-left fa-fw"></i></div>
            <div class="header-wallet-text">Balance: 0.00108348 BTC</div>
            <div class="header-button header-menu-dropdown-button"><i class="fas fa-bars fa-fw"></i></div>
          </div>
          <div class="header-menu-dropdown hidden">
            <button class="button button-clear" onclick="return false">Network</button>
            <button class="button button-clear" onclick="return false">Settings</button>
            <button class="button button-clear" onclick="return false">About</button>
            <button class="button button-clear" onclick="return false">Logs</button>
            <button class="button button-clear" onclick="return false">Switch wallet</button>
          </div>
        </div>
      </div>
      <div class="container p-1">
        $body$
      </div>
    </body>
</html>
